.el-menu--collapse {
    .el-submenu {
      &>.el-submenu__title {
        &>span {
          height: 0;
          width: 0;
          overflow: hidden;
          visibility: hidden;
          display: inline-block;
        }
      }
    }
    
  }
  .el-menu {
      .el-submenu {
        background-color:$menuBg
      }
      .el-menu-item {
        background-color:$menuBg

      }
      .el-submenu:hover{
        background-color:$menuBg
      }
  }
  .el-menu-item,
  .el-submenu__title {
      color: #C0CBD9;
    &:hover {
      background-color: $menuHover !important;
    }
  }
  .el-submenu,.el-menu-item {
      width: 220px;
  }
  .el-menu-item.is-active .svgIcon {
    color:#1890ff !important;
  }